          
          <div class="news">
            <h2>News</h2>
            {%- assign news_document = site.news | first -%}
            {%- assign news = news_document.entries | where_exp: "item", "item.published != false" | sort: "date" | reverse -%}
            {% if news != empty -%}
            {%- assign news_size = news | size -%}
            {%- assign visible_news_count = site.news_limit | default: 4 -%}
            <div class="table-responsive{% if site.news_scrollable and news_size > visible_news_count %} news-scroll{% endif %}">
              <table class="table table-sm table-borderless">
              {% if site.news_scrollable %}
              {% assign news_limit = news_size %}
              {% elsif site.news_limit %}
              {% assign news_limit = site.news_limit %}
              {% else %}
              {% assign news_limit = news_size %}
              {% endif %}
              {% for item in news limit: news_limit %} 
                <tr>
                  <th scope="row" style="width:16%">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {{ item.content | markdownify | remove: '<p>' | remove: '</p>' | emojify }}
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No news so far...</p>
          {%- endif %} 
          </div>
